@import '../../../../styles/colors/colors.scss';

.container {
    display: flex;
    flex-direction: column;
}

.inputField {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2.5rem;
}

.row {
    display: flex;
    flex-direction: row;
}

.inputElement {
    width: 7rem;
    margin: 0.2rem
}
