@import '../../../../styles/colors/colors.scss';

.container {
    display: flex;
    flex-direction: column;
}

.typeOfCalc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 2.5rem;
}

.size {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
}

.sizeElement {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 1rem;
    min-width: 4rem;
}
