@import '../../../styles/colors/colors.scss';
@import '../../../styles/fonts/fonts.scss';

.container {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 20rem;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: $white;
    border-right: 1px solid $light-gray;
}
