.pageContainer {
    // margin-left: 20rem;
}

.data {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logoutButton {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 7.5rem;
}

.calcButton {
    position: absolute;
    left: 1rem;
    top: 1rem;
    width: 7.5rem;
}

.container {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}