@import "../../../styles/colors/colors.scss";
@import "../../../styles/fonts/fonts.scss";

.selector {
    width: 100%;
    min-height: 2.25rem;
    border-radius: 0.25rem;
    outline: none;
    font-size: 1rem;
    font: $basic;
    border: 1px solid $light-gray;
    background-color: $very-light-gray;
    .selectorElement {
        font-size: 1rem;
        outline: none;
        font: $basic;
    }
}

.basic {
    &:hover, &:focus {
        border-color: $blue;
    }
    background-color: $white;
}
