@import "../../../styles/colors/colors.scss";
@import "../../../styles/fonts/fonts.scss";

.input {
    width: 98%;
    padding: 0.25rem;
    border-radius: 0.25rem;
    outline: none;
    font: $basic;
    border: 1px solid $light-gray;
    box-shadow: 0px 5px 5px $light-gray;
    background-color: $very-light-gray;
}

.basic {
    &:hover {
        box-shadow: 0px 5px 5px $little-light-gray;
    }
    &:focus {
        box-shadow: 0px 2px 2px $little-light-gray inset;
    }
    background-color: $white;
}
