$white: #fff;
$black: #222;
$light-black: #444;

$light-red: #ff7572;
$red: #ff4d4f;
$volcano: #FA541C;
$orange: #FA8C16;
$gold: #FAAD14;
$yellow: #FADB14;
$lime: #A0D911;
$green: #52C41A;
$cyan: #13C2C2;
$blue: #1890FF;
$geekblue: #2F54EB;
$purple: #722ED1;
$magenta: #EB2F96;

$very-light-gray: #f5f6f7;
$light-gray: #d6d5d5;
$gray: #666666;