$white: #fff;
$black: #222;
$light-black: #444;

$very-light-red: #ffbfbe;
$light-red: #ff7572;
$red: #ff4d4f;
$volcano: #fa541c;
$orange: #fa8c16;
$gold: #faad14;
$yellow: #fadb14;
$lime: #a0d911;
$green: #52c41a;
$cyan: #13c2c2;
$blue: #1890ff;
$geekblue: #2f54eb;
$purple: #722ed1;
$magenta: #eb2f96;

$very-light-gray: #f5f6f7;
$light-gray: #d6d5d5;
$little-light-gray: #bdbdbd;
$gray: #666666;
