.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.outputField {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.dataContainer {
    margin: 1rem;
    justify-content: center;
}

.row {
    width: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.matrixElement {
    margin-left: 0.1rem;
}